.about {
    padding-top: 20px;

    &__part {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;/* 400px 300px; */
    }

    
    &__photo {
        text-align: center;
    }

    &__img {
        object-fit: cover;
        width: 100%;
        max-width: 400px;
        height: 100%;
        border-radius: 50%;
    }


    &__text {
        padding: 30px 20px;
        text-align:center;
    }

     @media screen and (min-width: 800px) {
        

        &__part {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 350px;
            
        }
        &__photo--right {
            order:2;
        }

        

        &__text {
            align-self: center;
        }

        &__photo {
            text-align: left;
        }

        &__img {
            border-top-right-radius: 50%;
            border-top-left-radius: 0;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 0;
        }

        &__photo--right {
            text-align: right;
        }
        &__img--right {
            border-top-right-radius: 0;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 50%;
        }
    } 

   

    &__certifications-list {
        padding: 20px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__badge {
        padding: 10px;
        width: 100px;
        height: 100px;
    }

}