<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Susan Poes</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css" />

  </head>
  <body>
    <header class="header">
      <div class="header__wrapper u-content u-margin-auto u-margin-bottom">
        <a class="header__link-title" href="/index"><h1 class="header__title">Susan Poes</h1></a>

        <nav class="header__nav">

          <ul class="header__menu">
            <a class="header__menu-item-link" href="/kolekce/"
              ><li class="header__menu-item">Kolekce</li></a
            >
            <a class="header__menu-item-link" href="/eshop/"
              ><li class="header__menu-item">E-shop</li></a
            >
            <a class="header__menu-item-link" href="/omne/"
              ><li class="header__menu-item">O mně</li></a
            >
            <a class="header__menu-item-link" href="/kontakt/"
              ><li class="header__menu-item">Kontakt</li></a
            >
          </ul>

        </nav>
      </div>

      <h2 class="header__slogan">Inspirováno přírodou</h2>
      <a class="header__btn btn" href="/omne/">Můj příběh</a>
    </header>
