<footer class="footer">
  <div
    class="footer__contact-wrapper u-content u-margin-auto u-content-color"
  >
    <div class="footer__items-wrapper">
      <div class="footer__item">
        <h3 class="footer__title">Kontakt:</h3>
        <p>tel: 123 456 789</p>
        <p>e-mail: susan@poes.com</p>
      </div>

      <div class="footer__item">
        <h3 class="footer__title">Adresa dílny:</h3>
        <p>
          Ulice 123 <br />
          Město A <br />
          652 48
        </p>
      </div>

      <div class="footer__item">
        <h3 class="footer__title">Otevírací doba dílny:</h3>
        <ul>
          <li>Úterý: 10-15</li>
          <li>Středa: 10-17</li>
          <li>Čtvrtek: 14-19</li>
        </ul>
      </div>
    </div>

    <div class="footer__item">
      <a href="https://www.facebook.com"
        ><img
          class="footer__icon"
          src="/images/ikony/icons8-facebook-f-50.png"
          alt="facebook"
      /></a>
      <a href="https://www.instagram.com"
        ><img
          class="footer__icon"
          src="/images/ikony/icons8-instagram-50.png"
          alt="instagram"
      /></a>
      <a href="mailto:susan@poes.cz"
        ><img
          class="footer__icon"
          src="/images/ikony/icons8-email-sign-50.png"
          alt="email"
      /></a>
    </div>

    <p class="disclaimer"><b>Disclaimer:</b> Značka Susan Poes jev tuto chvíli pouze smyšlený koncept. Webová stránka existuje jako hobby projekt.</p>

  </div>

  <div class="footer__copyright">

    <p>	&copy; Zdéňa, l.p. 2020</p>
  </div>
</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="fslightbox.js"></script>
<script src="/js/lightbox-plus-jquery.min.js"></script>


</body>
</html>

